.aboutheadercontent{
    width: 400px;
    margin-top: -450px;
    margin-bottom: 250px;
    color: white;
    margin-left: 30px;
}
.aboutheadercontent p{
    font-family: Garamond;
    line-height: 1.7;
    font-size: 20px;
}
.aboutcontainer{
    margin: 50px;
    margin-top: 100px;
}
.aboutcontainerdata{
    display: flex;
    justify-content: space-around;
}
.aboutcontainerdata-img img{
    width: 350px;
    height: 350px;
}
.aboutcontainerdata-content{
    width: 600px;
}
.aboutcontainerdata-content p{
    line-height: 1.7;
    font-family: Garamond;
    text-align: justify;
    padding: 0px;
}
.aboutcontainerdata-content h1{
    margin-top: 0px;
}
.aboutcontainerdata1{
    display: flex;
    justify-content: space-around;
    width: 630px;
    flex-wrap: wrap;
}
.aboutcontainerdata1-content{
    width: 300px;
    line-height: 1.7;
    font-family: Garamond;
    margin-right: 15px;
}
.aboutcontainerdata1-content h2{
   border-bottom: 1px solid grey;
}
.aboutcontainerdataKeys{
    margin-top: 90px;
}